body {
  background: #22941c;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 800px;
  height: 600px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chess-board {
  border: 10px solid #000;
  width: 90%;
  height: 90%;
  border-radius: 2%;
}

.board-unit {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
